body {
  background-color: #8EB1C7 !important;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 2px solid yellow;
}

.chord-container {
  height: 60%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #8EB1C7;
  z-index: 0;
}

.info-container {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #8EB1C7;
}

.curr-chord {
  font-size: 44px;
  font-weight: 800;
  color: #FEFDFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}